<h1>{{ pagename|title }}</h1>

<p>Total: {{data.total}}</p>
<p>Page: {{data.page}}</p>
<p>Items per page: {{data.perPage}}</p>
{% if !data.records.length %}
<p>No records</p>
{% else %}

	{% for record in data.records %}
	<h3>Order {{ loop.index }}</h3>
		<p>maker: {{record.order.makerAddress}}</p>
		<p>makerAssetData: {{record.order.makerAssetData}}</p>
		<p>takerAssetData: {{record.order.takerAssetData}}</p>
		<p>taker: {{record.order.takerAddress}}</p>
		<p>signature: {{record.order.signature}}</p>

	{% endfor %}
{% endif %}

<ul>
<!-- {% for author in authors %}
    <li{% if loop.first %} class="first"{% endif %}>{{ author }}</li>
{% endfor %} -->
</ul>